{% extends 'base.html' %}
{% load static %}

{% block content %}
<hr>
<h1 class="drexs text-center mt-5"> ABOUT US</h1>
<hr>
<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-header">
    Frontend developer
  </div>
    <div class="card-body">
      <h5 class="card-title">Bekzat Zamirbek Uulu</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">COM20 Ala-Too</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-header">
    Backend developer
  </div>
    <div class="card-body">
      <h5 class="card-title">Bekzat Zamirbek Uulu</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">COM20 Ala-Too</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-header">
    Product manager
  </div>
    <div class="card-body">
      <h5 class="card-title">Bekzat Zamirbek Uulu</h5>
      <a class="card-text" href="https://github.com/bekzatzamirbekuulu">Github</a>
      <a class="card-text" href="https://github.com/bekzatzamirbekuulu">Instagram</a>
      <p class="card-text"><small class="text-muted">COM20 Ala-Too</small></p>
    </div>
  </div>
</div>
{% endblock %}