{% extends 'base.html' %}
{% load static %}

{% block content %}
<hr>
<h1 class="drexs text-center mt-5"> ABOUT US</h1>
<hr>
<h3 class="drexs text-center mt-5"> Our team</h3>
<hr>
<div class="card-group mt-2 mb-5 p-3">
  <div class="card">
      <div class="card-header">
    WEB developer
  </div>
    <div class="card-body">
      <h5 class="card-title">Chyngyz Utkelbaev</h5>
      <a class="card-text" href="https://github.com/ChyngyzUtkelbaev">GitHub</a>
      <p class="card-text">Gmail: chyngyz.utkelbaev@alatoo.edu.kg </p>
      <p class="card-text"><small class="text-muted">COM20 Ala-Too</small></p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
    WEB developer
  </div>
    <div class="card-body">
      <h5 class="card-title">Bekzat Zamirbek Uulu</h5>
      <a class="card-text" href="https://github.com/bekzatzamirbekuulu">GitHub</a>
      <p class="card-text">Gmail: bekzat.zamirbekuulu@alatoo.edu.kg </p>
      <p class="card-text"><small class="text-muted">COM20 Ala-Too</small></p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
    Product manager
  </div>
    <div class="card-body">
      <h5 class="card-title">Ala-Too</h5>
      <a class="card-text" href="http://www.alatoo.edu.kg/">WEB site</a>
      <p class="card-text"><small class="text-muted">IU Ala-Too</small></p>
    </div>
  </div>
</div>
{% endblock %}