{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <hr class="mt-5">
        <h2 class="text-center fw-bold drexs">{{ message }}</h2>
        <hr class="mb-5">
        <h3 class="text-center fw-light mb-5">We really appreciate it {{ user.username }} :)</h3>
        <h4 class="text-center fw-light mb-5">Our address: Ala-Too International University, Ankara Street 1/8, Tunguch, 720048, Bishkek, Kyrgyz Republic</h4>
        <hr class="mb-5">
    </div>
</div>
{% endblock %}